@use '@/styles/abstracts' as *;

.Home {
	width: 100vw;
	height: 100vh;

	position: relative;
	overflow: hidden;

	@include flex;

	.Background {
		@include position(absolute, 0, 0, 0, 0);
	}

	.Ready {
		@include fade(in);

		@include animate((fade-in, 0.5s, 2s, ease-out));
	}

	.DoneDelay {
		@include fade(out);

		@include animate((fade-out, 1s, 1.5s, ease-out));
	}

	.Done {
		@include fade(out);

		@include animate((fade-out, 0s, 1.5s, ease-out));
	}

	.Focus {
		z-index: 100;
	}
}
