@use '@/styles/abstracts' as *;

.Wrapper {
	background-color: $color-bg-secondary;

	box-shadow: $box-shadow-lg;
	border-radius: $radius-xl;

	padding: 0 $spacing-sm 0 $spacing-lg;

	transition: background-color 0.15s;

	@include flex;

	.Input {
		width: 100%;
		height: auto;

		padding: $spacing-lg 0;

		field-sizing: content;

		color: $color-text-default;

		transition: color 0.15s;
	}

	.Suffix {
		margin-left: $spacing-md;
	}
}

.Disabled {
	background-color: darken($color-bg-secondary, 3);

	.Input {
		color: #777;
	}
}
