$easing-accelerate: cubic-bezier(0.19, -0.01, 0.74, 0.57);
$easing-decelerate: cubic-bezier(0.4, 0, 0.2, 1);

@mixin pop($mode: in, $direction: top, $distance: 100%, $offset: 2px) {
	$position_offset: 0, 0;
	$position_original: 0, 0;

	@if $direction == top {
		$position_offset: 0, calc($distance * -1 - $offset);
	} @else if $direction == bottom {
		$position_offset: 0, calc($distance + $offset);
	} @else if $direction == left {
		$position_offset: calc($distance * -1 - $offset), 0;
	} @else if $direction == right {
		$position_offset: calc($distance + $offset), 0;
	}

	$from: $position_offset;
	$to: $position_original;

	@if $mode == out {
		$temp: $from;

		$from: $to;
		$to: $temp;
	}

	transform: translate(#{$from});

	@keyframes pop-#{$mode}-#{$direction} {
		from {
			transform: translate(#{$from});
		}

		to {
			transform: translate(#{$to});
		}
	}
}

@mixin fade($mode: in) {
	$from-opacity: 0;
	$to-opacity: 1;

	@if $mode == out {
		$from-opacity: 1;
		$to-opacity: 0;
	}

	opacity: $from-opacity;

	@keyframes fade-#{$mode} {
		from {
			opacity: $from-opacity;
		}
		to {
			opacity: $to-opacity;
		}
	}
}

@mixin hide() {
	@keyframes hide {
		to {
			display: none;
		}
	}
}

@mixin gradient(
	$colors: (
		#6a0dad,
		#9b59b6,
		#d291bc,
		#7f5fc5,
		#6a0dad
	),
	$duration: 8s
) {
	background-size: 300% 100%;

	background-image: linear-gradient(to right, $colors);
	animation-duration: $duration;

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}

		50% {
			background-position: 100% 50%;
		}

		100% {
			background-position: 0% 50%;
		}
	}
}
