@use '@/styles/abstracts' as *;

.Preview {
	height: 100%;

	position: relative;

	@include flex(center, center, column);

	.Device {
		background-color: #111;
		border-radius: $radius-lg;
		box-shadow: $box-shadow-lg;

		overflow: hidden;

		width: min(80vw, 80vh * (16 / 9));
		height: auto;

		max-height: 80vh;

		margin: auto;

		aspect-ratio: 16 / 9;

		transition: all 0.25s;

		@include flex;

		@media (min-aspect-ratio: 16 / 9) {
			width: auto;
			height: 80vh;
		}

		@include fade(in);
		@include pop(in, bottom, 48px);

		@include animate((pop-in-bottom, 2s, 2s, normal), (fade-in, 2s, 1.5s, normal));
	}

	.Mobile {
		aspect-ratio: 9 / 18;
		width: min(80vw, 80vh * (9 / 18));
	}

	.Desktop {
		aspect-ratio: 16 / 9;
		width: min(80vw, 80vh * (16 / 9));
	}

	.Controls {
		@include fade(in);
		@include pop(in, top, 12px);

		@include animate((pop-in-top, 3.5s, 1.5s, normal), (fade-in, 3.5s, 1.25s, normal));

		.Devices {
			transform: translateX(-50%);

			@include position(absolute, auto, auto, 2.5vh, 50%);
		}
	}
}
