$spacing-xxs: 0.25rem; // 4px
$spacing-xs: 0.5rem; // 8px
$spacing-sm: 0.75rem; // 12px
$spacing-md: 1rem; // 16px
$spacing-lg: 1.25rem; // 20px
$spacing-xl: 1.5rem; // 24px
$spacing-xxl: 2rem; // 24px
