@use '@/styles/abstracts' as *;

.Text {
	max-width: fit-content;

	margin: 0 auto;

	position: relative;

	font-weight: 500;

	backdrop-filter: blur(10px);
	transition: box-shadow 0.5s ease-out;

	overflow: hidden;

	vertical-align: bottom;

	@include flex;
}

.Content {
	background-clip: text;
	-webkit-background-clip: text;

	color: transparent;

	@include gradient;

	@include animate((gradient, 0s, 8s, linear, infinite));
}
