@use '@/styles/abstracts' as *;

.Home {
	width: 100vw;
	height: 100vh;

	position: relative;
	overflow: hidden;

	@include flex;

	.Background {
		@include position(absolute, 0, 0, 0, 0);

		@include fade(in);

		@include animate((fade-in, 0.5s, 2s, ease-out));
	}

	.Chat {
		width: 90vw;
		height: 100%;

		z-index: 100;

		@include flex(center, center, column);

		.Wrapper {
			overflow: hidden;

			padding: 0 $spacing-xs;
			margin-bottom: $spacing-xxl;

			.Title {
				text-align: center;
			}

			.TitleReady {
				@include pop(in, bottom);

				@include animate((pop-in-bottom, 2s, 1.5s, $easing-decelerate));
			}

			.TitlePrompted {
				@include fade(out);
				@include pop(out, top);

				@include animate((pop-out-top, 1s, 1.5s, normal), (fade-out, 1s, 1.25s, normal));
			}
		}

		.WrapperPrompted {
			overflow: unset;
		}

		.Form {
			width: 90vw;

			.InputReady {
				@include fade(in);
				@include pop(in, top);

				@include animate((pop-in-top, 3s, 2s, $easing-decelerate), (fade-in, 3.75s, 1s, $easing-decelerate));
			}

			.InputPrompted {
				@include fade(out);
				@include pop(out, bottom);

				@include animate((pop-out-bottom, 1s, 1.5s, normal), (fade-out, 1s, 1.25s, normal));
			}
		}
	}
}

@include respond(sm) {
	.Home {
		.Chat {
			.Form {
				width: 650px;
			}
		}
	}
}
