@use '@/styles/abstracts' as *;

.Knob {
	width: 38px;
	height: 38px;

	aspect-ratio: 1;

	border-radius: 50%;

	background-color: $color-bg-inverted;

	transition: background-color 0.15s;

	cursor: pointer;

	@include flex;

	&:hover:not(.Disabled) {
		background-color: darken($color-bg-inverted, 15);
	}

	&:active:not(.Disabled) {
		background-color: darken($color-bg-inverted, 25);
	}

	.Icon {
		width: 50%;
		height: 50%;

		color: $color-bg-secondary;
	}

	.IconReady {
		@include pop(in, bottom, 8px);

		@include animate((pop-in-bottom, 0s, 0.5s, normal));
	}

	.IconClicked {
		@include pop(out, top, 10px);

		@include animate((pop-out-top, 0s, 0.5s, normal));
	}
}

.Disabled {
	background-color: darken($color-bg-inverted, 75);
}
