@use '@/styles/abstracts' as *;

.Generation {
	overflow: hidden;

	.Title {
		text-align: center;

		padding: 0 $spacing-sm;

		span {
			font-weight: 500;
		}
	}

	.TitleReady {
		@include pop(in, bottom);

		@include animate((pop-in-bottom, 0s, 1.5s, $easing-decelerate));
	}

	.TitleDone {
		@include fade(out);
		@include pop(out, top);

		@include animate((pop-out-top, 0s, 1.5s, $easing-accelerate), (fade-out, 0s, 1.25s, $easing-accelerate));
	}
}

.GenerationDone {
	overflow: unset;

	@include hide;

	@include animate((hide, 1.5s, 0s));
}
