@use '@/styles/abstracts' as *;

.Chat {
	gap: $spacing-xxl;

	@include flex(center, center, column);

	.Wrapper {
		overflow: hidden;

		.Title {
			text-align: center;

			padding: 0 $spacing-sm;

			span {
				font-weight: 500;
			}
		}

		.TitleReady {
			@include pop(in, bottom);

			@include animate((pop-in-bottom, 2s, 1.5s, $easing-decelerate));
		}

		.TitleDone {
			@include fade(out);
			@include pop(out, top);

			@include animate((pop-out-top, 1s, 1.5s, $easing-accelerate), (fade-out, 1s, 1.25s, $easing-accelerate));
		}
	}

	.WrapperDone {
		overflow: unset;
	}

	.Form {
		width: 90vw;

		.InputReady {
			@include fade(in);
			@include pop(in, top);

			@include animate((pop-in-top, 3s, 2s, $easing-decelerate), (fade-in, 3.75s, 1s, $easing-decelerate));
		}

		.InputDone {
			@include fade(out);
			@include pop(out, bottom);

			@include animate((pop-out-bottom, 1s, 1.5s, normal), (fade-out, 1s, 1.25s, normal));
		}
	}
}

.ChatDone {
	@include hide;

	@include animate((hide, 2.5s, 0s));
}

@include respond(sm) {
	.Chat {
		.Form {
			width: 650px;
		}
	}
}
